---
import { getDaysInMonth, getWeeksInMonth, getDay, isSameDay } from "date-fns";
import { toZonedTime } from "date-fns-tz";

import type { ShowListing } from "~/api/getShowListings";
import { formatEst } from "~/utils/formatEst";
import { getNow } from "~/utils/getNow";
import ShowPreview from "../_components/ShowPreview.astro";

type Props = {
  visibleMonth: number;
  visibleYear: number;
  upcomingShows: Array<ShowListing>;
};

const { visibleMonth, visibleYear, upcomingShows } = Astro.props;

const now = getNow();

const monthDate = toZonedTime(
  new Date(visibleYear, visibleMonth),
  "America/New_York",
);
const numOfDaysInMonth = getDaysInMonth(monthDate);

const dayOfWeekForFirstDay = getDay(monthDate);
const numWeeksInMonth = getWeeksInMonth(monthDate);

const calendarDays: Array<Array<number>> = (() => {
  const availableDates = Array.from(
    { length: numOfDaysInMonth },
    (_, index) => index + 1,
  );

  const daysAccumulator: Array<Array<number>> = Array.from(
    { length: numWeeksInMonth },
    () => Array.from({ length: 7 }, () => -1),
  );

  for (let weekCnt = 0; weekCnt < numWeeksInMonth; weekCnt++) {
    for (let dayCnt = 0; dayCnt < 7; dayCnt++) {
      if (
        (weekCnt === 0 && dayCnt < dayOfWeekForFirstDay) ||
        availableDates.length === 0
      ) {
        daysAccumulator[weekCnt][dayCnt] = -1;
      } else {
        // !! This mutates the array so watch out !!
        const dateToAdd = availableDates.shift();
        if (!dateToAdd) throw new Error("Got nothing to add");
        daysAccumulator[weekCnt][dayCnt] = dateToAdd;
      }
    }
  }

  return daysAccumulator;
})();
---

<style>
  th {
    @apply py-4;
  }

  .hover-card-root {
    position: relative;
  }

  .hover-card-content {
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 10;
    transform: translateY(-50%);
  }

  .hover-card-root:hover .hover-card-content,
  .hover-card-trigger:focus + .hover-card-content {
    visibility: visible;
  }
</style>

<table class="w-full table-fixed">
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
  </thead>
  <tbody>
    {
      calendarDays.map((weekInMonth) => (
        <tr>
          {weekInMonth.map((dayInWeek) => {
            const dayDate = toZonedTime(
              new Date(visibleYear, visibleMonth, dayInWeek),
              "America/New_York",
            );
            const dayListings = upcomingShows.filter((show) =>
              isSameDay(dayDate, show.date),
            );
            const dayOfWeek = getDay(dayDate);

            return dayInWeek === -1 ? (
              <td />
            ) : (
              <td
                class="w-[14%] h-40 align-top p-2 border"
                class:list={{
                  "bg-violet-100": isSameDay(dayDate, now),
                }}
              >
                <span
                  title={formatEst(dayDate, "MMMM do, yyyy")}
                  class:list={{
                    "font-bold": isSameDay(dayDate, now),
                  }}
                >
                  {dayInWeek}
                </span>
                <ul>
                  {dayListings.map((listing) => (
                    <li class="hover-card-root">
                      <a
                        href={listing.listingUrl}
                        class="block bg-primary-purple text-white py-0.5 px-1 rounded my-1 hover-card-trigger"
                      >
                        {listing.name} ({formatEst(listing.date, "h:mm a")})
                      </a>
                      <div
                        class="hover-card-content"
                        class:list={{
                          // 4 = Wednesday
                          "left-full": dayOfWeek < 4,
                          "right-full": dayOfWeek >= 4,
                        }}
                      >
                        <ShowPreview showListing={listing} />
                      </div>
                    </li>
                  ))}
                </ul>
              </td>
            );
          })}
        </tr>
      ))
    }
  </tbody>
</table>
