---
import { toDate as toDateTz } from "date-fns-tz";
import { addMonths } from "date-fns";

import { getShowListings } from "~/api/getShowListings";
import { formatShowTime } from "~/utils/formatShowTime";
import RootLayout from "~/layouts/RootLayout.astro";

const now = toDateTz(Date.now(), { timeZone: "America/New_York" });
const twoMonthsFromNow = addMonths(now, 2);
const upcomingShows = await getShowListings({ end: twoMonthsFromNow });
---

<meta name="robots" content="noindex" />
<RootLayout title="Volunteer" class="max-w-4xl px-12">
  <h1 class="text-2xl font-bold">Upcoming Shows</h1>
  <ul class="pl-8">
    {
      upcomingShows.map((show) => (
        <li class="pt-4 list-disc">
          <a
            href={`/internal/volunteer/${show.id}`}
            class="text-primary-purple underline"
          >
            {show.name} - {formatShowTime(show.date)}
          </a>
        </li>
      ))
    }
  </ul>
</RootLayout>
