/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: Fraunces;
  src: url("/fonts/Fraunces/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("truetype");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Fraunces;
  src: url("/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

* {
  &::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(231, 231, 231, 0.3);
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: rgba(143, 143, 143, 0.7);
  }
}

body {
  background: var(--peach);
}

.text-gradient {
  @apply py-1 text-transparent w-fit bg-gradient-to-r from-violet-600 to-indigo-400 bg-clip-text;
}

.wysiwyg {
  @apply flex flex-col gap-3;

  a {
    @apply text-violet-600;

    &:hover {
      @apply underline;
    }
  }

  h1 {
    @apply text-xl font-bold border-b border-b-slate-300 pb-1 mt-3;
  }

  h2 {
    @apply text-xl font-bold border-b border-b-slate-300 pb-1 mt-3;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  ul {
    @apply list-disc pl-6;
  }

  blockquote {
    @apply pl-4 border-l-2 border-gray-200;

    p {
      @apply whitespace-pre-line;
    }
  }
}
