
@keyframes audience {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.slider-audience {
  animation: audience 100ms linear;
  animation-delay: 100ms;
}

@keyframes lights-off {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slider-lights-off {
  animation: lights-off 500ms ease-in;
  animation-delay: 200ms;
}

@keyframes lights-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider-lights-on {
  animation: lights-on 500ms ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes arms-wide {
  from {
    opacity: 0;
    transform: translateX(-60%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}

.slider-arms-wide {
  animation: arms-wide 750ms ease-in;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}