@import "tailwindcss";

@theme {
  --color-peach: #fff9f3;
  --color-primary-purple: #440067;
  --color-light-purple: #9470dc;
  --color-coral: #f0594f;
  --color-yellow: #f2b63f;
  --color-black: #262626;

  --font-serif: Fraunces;

  --shapes: url(/svgs/shapes-bg.svg);
}
