:root {

  --peach: #fff9f3;
  --primary-purple: #440067;
  --light-purple: #9470dc;
  --coral: #f0594f;
  --yellow: #f2b63f;
  --black: #262626;

  --font-serif: Fraunces;
  --font-sm: 16px;
  --font-md: 20px;
  --font-lg: 30px;
  --font-xl: 40px;
  --font-xxl: 60px;
}