.pt-page-layout {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  --max-page-width: 1264px;
  max-width: var(--max-page-width);
  position: relative;
}

@media (width >=1024px) {
  .pt-page-layout {
    padding: 0px 1rem;
    margin: auto;
  }

  .pt-bubble-box {
    background-color: #005f66;
    clip-path: inset(0 0 0 0 round 0px 600px 600px 0px);
    --page-margin: calc((max(0%, 100vw - var(--max-page-width)) / 2) * -1);
    inset: 25% calc(var(--page-margin) + 2%) 40% var(--page-margin);
  }
}

.pt-bubble-box {
  position: absolute;
  z-index: -9;
}

.pt-top-content {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  gap: 2rem;
}

@media (width >=1024px) {
  .pt-top-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

.pt-accordions {
  border: 2px solid black;
  margin: 0rem 1rem;
  background-color: var(--peach);
}

.pt-accordion-item:not(:last-child) {
  border-bottom: 2px solid black;
}

.pt-accordion-header button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  text-align: left;

  color: var(--primary-purple);
  font: bold var(--font-lg) var(--font-serif);

  > svg {
    rotate: 180deg;
    flex-shrink: 0;
  }

  &[data-state="open"] > svg {
    rotate: 0deg;
  }
}

@media (width >=1024px) {
  .pt-accordion-header button {
    font-size: var(--font-xl);
  }
}

.pt-accordion-content {
  overflow: hidden;
}

.pt-accordion-about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}

@media (width >=1024px) {
  .pt-accordion-about {
    grid-template-columns: 1fr 1fr;
    padding: 3rem 4rem;
  }
}

.pt-accordion-about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pt-accordion-content-classes {
  padding-bottom: 3rem;

  > h2 {
    font-family: var(--font-serif);
    color: var(--primary-purple);
  }
}

@media (width >=1024px) {
  .pt-accordion-content-classes {
    padding: 0rem 4rem 3rem 4rem;
  }
}
