---
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { CalloutCardProps } from "./CalloutCard.astro";

type Props = {
  blok: {
    callouts: Array<CalloutCardProps>;
  };
};

const { blok } = Astro.props;
---

<ul class="grid sm:grid-flow-col sm:grid-cols-1 justify-items-stretch gap-4">
  {
    blok.callouts.map((blok) => {
      return (
        <li>
          <StoryblokComponent blok={blok} />
        </li>
      );
    })
  }
</ul>
