---
import { getUnixTime, addMonths } from "date-fns";
import { Icon } from "astro-icon/components";

import { getShowListings } from "~/api/getShowListings";
import { getClassListings } from "~/api/getClassListings";

import RootLayout from "../layouts/RootLayout.astro";

import UpcomingClassCard from "~/components/UpcomingClassCard.astro";
import NextShowCallout from "~/components/NextShowCallout.astro";
import UpcomingShowCard from "~/components/UpcomingShowCard.astro";

const upcomingShowsPromise = getShowListings({
  from: getUnixTime(new Date()),
  to: getUnixTime(addMonths(new Date(), 1)),
});
const upcomingClassesPromise = getClassListings({
  from: getUnixTime(new Date()),
  to: getUnixTime(addMonths(new Date(), 1)),
});

const [upcomingShows, upcomingClasses] = await Promise.all([
  upcomingShowsPromise,
  upcomingClassesPromise,
]);

const [nextShow, ...otherShows] = upcomingShows.slice(0, 5);
---

<style lang="scss">
  // the purple blob behind the show section
  #upcoming-shows::after {
    content: "";
    position: absolute;
    z-index: -9;
    inset: 0;
    background-color: var(--primary-purple);
    clip-path: xywh(0 0px 120% 100% round 0 0 100% 0);
    transform: scaleX(-1);
  }

  // the yellow blob behind the classes section
  #upcoming-classes::after {
    content: "";
    position: absolute;
    z-index: -10;
    inset: 0;
    top: -50px;
    background-color: #f2b63f;
    clip-path: xywh(0 0px 145% 100% round 0 0 100% 0);
    transition: clip-path ease-in-out 300ms;
    transform: scaleY(-1);
  }

  // lg tailwind viewport
  // reference: https://tailwindcss.com/docs/responsive-design
  @media (min-width: 1024px) {
    #upcoming-shows::after {
      clip-path: xywh(0 0px 100% 100% round 0 0 40% 0);
    }
    #upcoming-classes::after {
      clip-path: xywh(0 0px 100% 100% round 0 0 50% 0);
    }
  }

  h2.section_header {
    @apply font-serif text-3xl lg:text-4xl font-bold mb-10 px-8 xl:px-16;
  }

  a.see_all_link {
    @apply underline font-serif font-bold flex gap-2 items-center m-4 w-fit ml-auto xl:pr-16;
  }

  ul.card_list {
    @apply flex overflow-x-auto gap-4 pt-2 pb-4 px-4 xl:px-16;
  }
</style>

<RootLayout layoutClass="flex flex-col overflow-x-hidden">
  <NextShowCallout nextShow={nextShow} />
  <section
    id="upcoming-shows"
    class="relative pt-12 pb-4 w-full overflow-y-visible mt-16"
  >
    <h2 class="section_header text-peach">Upcoming shows</h2>
    <ul class="card_list">
      {
        otherShows.map((showListing) => (
          <li class="flex-1 max-w-fit">
            <UpcomingShowCard showListing={showListing} />
          </li>
        ))
      }
    </ul>
    <a href="/shows" class="see_all_link text-peach">
      See all shows <Icon name="arrow-right" />
    </a>
  </section>
  <section
    id="upcoming-classes"
    class="relative pt-12 pb-4 w-full overflow-y-visible"
  >
    <h2 class="section_header text-primary-purple">Upcoming classes</h2>
    <ul class="card_list">
      {
        upcomingClasses.map((classListing) => (
          <li class="flex-1 max-w-fit">
            <UpcomingClassCard classListing={classListing} />
          </li>
        ))
      }
    </ul>
    <a href="/classes" class="see_all_link text-primary-purple">
      See all classes <Icon name="arrow-right" />
    </a>
  </section>
</RootLayout>
