---
import "../styles/home.css";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { UpcomingShowCardProps } from "../storyblok/UpcomingShowCard.astro";
import type { CalloutCardProps } from "../storyblok/CalloutCard.astro";

const storyblokApi = useStoryblokApi();
const storyblokVersion = import.meta.env.DEV ? "draft" : "published";

const upcomingShowsPromise = storyblokApi.get("cdn/stories/upcoming-shows", {
  version: storyblokVersion,
});
const calloutsPromise = storyblokApi.get("cdn/stories/callouts", {
  version: storyblokVersion,
});

const [{ data: upcomingShowsData }, { data: calloutsData }] = await Promise.all([upcomingShowsPromise, calloutsPromise])

const upcomingShowsContent = upcomingShowsData.story.content as { shows: Array<UpcomingShowCardProps> };
const upcomingShows = upcomingShowsContent.shows.sort();

const calloutsContent = calloutsData.story.content as { callouts: Array<CalloutCardProps> };
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Join us at CATCh for Charlotte's best improv comedy shows & improv classes. $10 shows most Friday and Saturday nights!"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Improv Shows & Classes in Charlotte | CATCh</title>
  </head>
  <body>
    <Header nextShow={upcomingShows[0]} />
    <main class="max-w-7xl m-auto flex flex-col gap-24 py-4 px-14">
      <section class="flex gap-4 mt-24 flex-col md:flex-row">
        <div class="w-full md:w-1/3">
          <h2 class="text-violet-600 text-3xl">Be Bold<br />Say Yes.®</h2>
          <h3 class="text-red-400 text-lg mt-6">CATCh an improv class!</h3>
          <p class="my-3 font-light">
            Whether you get up in front of an audience, a board meeting, or the
            local PTA, improv classes are the exciting and hilarious way to
            develop poise, build confidence, and learn teamwork / communication
            skills that are in high demand.
          </p>
          <p class="my-3 font-light">
            Sign up today for the most fun you've ever had in a personal
            development class!
          </p>
          <h3 class="text-red-400 text-lg mt-6">
            Register for our next class:
          </h3>
          <p>Thursdays at 7:00pm starting Feb 16</p>
          <a
            href="#"
            class="block border-2 border-violet-600 uppercase py-3 px-6 w-fit rounded-full text-violet-600 my-6 ml-auto text-sm font-semibold"
          >
            Learn More
          </a>
        </div>
        <div class="w-full md:w-2/3 aspect-video">
          <div class="w-full h-full relative overflow-hidden">
            <img
              alt="The yellow light for the theater lights."
              class="absolute -right-4 w-2/6 z-0 slider-lights-on opacity-0"
              src="/images/slider/lights-on.webp"
            />
            <img
              alt="Theater lights shining down on the actor."
              class="absolute -right-4 w-2/6 z-0 slider-lights-off"
              src="/images/slider/lights-off.webp"
            />
            <img
              alt="An actor with their arms wide basking in the theater lights towards the audience."
              class="z-[1] absolute bottom-0 left-1/2 -translate-x-1/2 w-3/5 slider-arms-wide opacity-0"
              src="/images/slider/arms-wide.webp"
            />
            <img
              alt="An crowded audience."
              class="absolute bottom-0 w-full z-0 slider-audience"
              src="/images/slider/audience.webp"
            />
          </div>
        </div>
      </section>
      <section id="upcoming-shows">
        <StoryblokComponent
          blok={{
            ...upcomingShowsContent,
            shows: upcomingShows,
          }}
        />
      </section>
      <section id="callout-cards">
        <StoryblokComponent
          blok={calloutsContent}
        />
      </section>
    </main>
    <Footer />
  </body>
</html>
