---
import { getUnixTime, addMonths } from "date-fns";
import { getShows } from "~/api/getShows";
import { getClassListings } from "~/api/getClassListings";
import UpcomingShowsList from "~/components/UpcomingShowsList.astro";
import ClassesList from "~/components/ClassesList.astro";
import RootLayout from "../layouts/RootLayout.astro";
import NextShowCallout from "~/components/NextShowCallout.astro";

const upcomingShowsPromise = getShows({
  from: getUnixTime(new Date()),
  to: getUnixTime(addMonths(new Date(), 1)),
});
const upcomingClassesPromise = getClassListings({
  from: getUnixTime(new Date()),
  to: getUnixTime(addMonths(new Date(), 1)),
});

const [upcomingShows, upcomingClasses] = await Promise.all([
  upcomingShowsPromise,
  upcomingClassesPromise,
]);

const nextShow = upcomingShows.length > 0 ? upcomingShows[0] : null;
---

<RootLayout layoutClass="flex flex-col gap-24">
  {nextShow ? <NextShowCallout nextShow={nextShow} /> : null}
  <section id="upcoming-shows">
    <h2
      class="text-transparent text-3xl font-medium w-fit bg-gradient-to-r from-violet-600 to-indigo-400 bg-clip-text"
    >
      Discover Charlotte's Best Comedy
    </h2>
    <div class="mb-4 mt-2">
      <span>Improv, stand-up, and more!</span>
      &bull;
      <span>Shows most weekends, starting at $10 per person.</span>
    </div>
    <UpcomingShowsList upcomingShows={upcomingShows} />
  </section>
  <section id="upcoming-classes">
    <h2
      class="text-transparent text-3xl font-medium mb-4 w-fit bg-gradient-to-r from-violet-600 to-indigo-400 bg-clip-text"
    >
      CATCh a class!
    </h2>
    <ClassesList upcomingClasses={upcomingClasses} />
  </section>
</RootLayout>
