<nav class="text-primary-purple relative -bottom-12">
  <a href="/" class="underline">Home</a>
  <span aria-hidden="true">&nbsp;/&nbsp;</span>
  <a href="/classes" class="underline">Classes</a>
  <span aria-hidden="true">&nbsp;/&nbsp;</span>
  <span class="font-bold">
    <slot />
  </span>
</nav>
