---
import CoralButtonLink from "~/components/CoralButtonLink.astro";
---

<section class="max-w-md m-auto flex flex-col gap-8 pt-20 pb-60 px-3">
  <p>Nothing posted yet. Check back soon or check out our other classes!</p>
  <CoralButtonLink href="/classes">Classes</CoralButtonLink>
</section>
