---
import { Icon } from "astro-icon/components";
import type { ClassListing } from "~/api/getClassListings";
import CoralButtonLink from "~/components/CoralButtonLink.astro";
import { formatClassDateRange } from "~/utils/formatClassTime";

type Props = {
  classListing: ClassListing;
};

const { classListing } = Astro.props;

const formattedClassDate = formatClassDateRange(classListing);
---

<div class="flex flex-col lg:flex-row lg:justify-between">
  <div class="flex flex-col lg:flex-row gap-4 lg:gap-6 items-center">
    <Icon name="calendar" class="h-10 w-10" />
    <div class="font-serif text-xl text-primary-purple">
      <h3 class="font-bold">
        {classListing.name}
      </h3>
      <p class="my-4 lg:my-0">{formattedClassDate}</p>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-4 lg:gap-6 items-center">
    <p class="font-serif font-bold text-xl text-primary-purple px-2">
      {classListing.price}
    </p>

    <CoralButtonLink href={classListing.listingUrl} class="w-full">
      Enroll
    </CoralButtonLink>
  </div>
</div>
