---
import type { Show } from "~/api/getShows";
import { DesktopNav } from "./DesktopNav.tsx";
import { MobileNav } from "./MobileNav.tsx";

type Props = {
  nextShow: Show;
};

const { nextShow } = Astro.props;
---

<header class="w-full shadow-lg sticky top-0 bg-white z-50">
  <div class="hidden lg:block">
    <DesktopNav client:media="(min-width: 1024px)" nextShow={nextShow} />
  </div>
  <div class="block lg:hidden overflow-hidden">
    <MobileNav client:media="(max-width: 1024px)" nextShow={nextShow} />
  </div>
</header>
