---
import { DesktopNav } from "./DesktopNav.tsx";
import MobileNav from "./MobileNav.astro";
---

<header class="w-full sticky top-0 z-50 bg-peach">
  <div class="hidden lg:block">
    <DesktopNav client:visible />
  </div>
  <div class="block lg:hidden overflow-hidden">
    <MobileNav />
  </div>
</header>
