---
type Props = {
  href: string;
  class?: string;
  disabled?: boolean;
};

const { href, class: className, disabled } = Astro.props;
---

{
  disabled ? (
    <button
      disabled
      class:list={className}
      class="bg-gray-400 w-full lg:w-fit rounded-sm px-5 py-3 min-w-[260px] text-peach font-bold font-serif shadow-md text-xl flex items-center justify-center gap-3"
    >
      <slot />
    </button>
  ) : (
    <a
      href={href}
      class:list={className}
      class="bg-coral w-full lg:w-fit rounded-sm px-5 py-3 min-w-[260px] text-peach font-bold font-serif shadow-md text-xl flex items-center justify-center gap-3 hover:bg-[#B7433C] transition-colors"
    >
      <slot />
    </a>
  )
}
