---
import LightsOn from "~/images/slider/lights-on.webp";
import LightsOff from "~/images/slider/lights-off.webp";
import ArmsWide from "~/images/slider/arms-wide.webp";
import Audience from "~/images/slider/audience.webp";
import { Image } from "astro:assets";
---

<div class="w-full h-full relative overflow-hidden">
  <Image
    alt="The yellow light for the theater lights."
    class="absolute -right-4 w-2/6 z-0 slider-lights-on opacity-0"
    src={LightsOn}
  />
  <Image
    alt="Theater lights shining down on the actor."
    class="absolute -right-4 w-2/6 z-0 slider-lights-off"
    src={LightsOff}
  />
  <Image
    alt="An actor with their arms wide basking in the theater lights towards the audience."
    class="z-[1] absolute bottom-0 left-1/2 -translate-x-1/2 w-3/5 slider-arms-wide opacity-0"
    src={ArmsWide}
  />
  <Image
    alt="An crowded audience."
    class="absolute bottom-0 w-full z-0 slider-audience"
    src={Audience}
  />
</div>
