---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"a">;
const props = Astro.props;
---

<a
  {...props}
  class="text-violet-200 hover:underline focus:underline whitespace-nowrap"
>
  <slot />
</a>
