---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"section"> & { title: string };
const props = Astro.props;
---

<section
  class={`max-w-sm w-full ${props.class ?? ""}`}
  class:list={props["class:list"]}
>
  <h2
    class="uppercase font-semibold border-b border-b-slate-400 text-slate-50 mb-3"
  >
    {props.title}
  </h2>
  <slot />
</section>
