---
import { Image } from "astro:assets";
import RemixIcon from "../RemixIcon.astro";
import { socialMediaLinkList } from "~/utils/socialMediaLinkList";
import NglccCertifiedImg from "../../images/nglcc-certified.png";
import FooterSection from "./FooterSection.astro";
---

<footer class="mt-24 px-4 lg:px-14 m-auto max-w-7xl">
  <div class="flex gap-12 justify-evenly flex-col md:flex-row">
    <FooterSection title="Community policy">
      <div class="flex flex-col gap-8">
        <p>
          Our mission is to create an open, inclusive space that meets the needs
          of improvisers and improv teams.
        </p>
        <Image
          src={NglccCertifiedImg}
          alt="NGLCC Certified LGBTBE"
          class="max-w-[230px]"
        />
      </div>
    </FooterSection>
    <FooterSection title="Contact us">
      <div class="flex flex-col gap-5">
        <a href="tel:(980) 522-8241">
          (980) 5-CATCh-1
          <br />
          (980) 522-8241
        </a>
        <a href="mailto:info@CATCh.theater" class="text-primary-purple">
          info@CATCh.theater
        </a>
        <a href="https://maps.google.com?q=Comedy Arts Theater of Charlotte">
          4128 South Blvd.<br />Suite A3<br />Charlotte, NC 28209
        </a>
      </div>
    </FooterSection>
    <FooterSection title="Connect with the CATCh community">
      <div class="flex flex-col gap-8">
        <p>
          Subscribe to our newsletter for new course offerings, show
          announcements, and community events!
        </p>
        <form
          method="post"
          action="https://theater.us7.list-manage.com/subscribe/post?u=0aff844d3bdd9abb3086f5836&id=4de87ca1ca"
          target="_blank"
        >
          <label class="mb-1" for="EMAIL">
            Email address <span class="text-red-600">*</span>
          </label>
          <div class="flex gap-2 flex-1">
            <input
              type="email"
              id="EMAIL"
              name="EMAIL"
              required
              class="block rounded px-3 py-2 border-2 border-primary-purple w-full"
              placeholder="iloveimprov@gmail.com"
            />
            <button
              type="submit"
              class="px-3 bg-coral text-white font-serif rounded w-fit"
            >
              Subscribe
            </button>
          </div>
        </form>
        <ul class="flex justify-evenly gap-3 w-fit">
          {
            socialMediaLinkList.map((socialLink) => (
              <li>
                <a href={socialLink.path} target="_blank">
                  <span class="sr-only">{socialLink.label}</span>
                  <RemixIcon
                    icon={socialLink.remixIcon}
                    fill="var(--light-purple)"
                    width="24"
                    height="24"
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </FooterSection>
  </div>
  <p class="text-center mt-16">
    © The Comedy Arts Theater of Charlotte, LLC 2017 and beyond. All Rights
    Reserved.
  </p>
  <p class="text-center mt-4 mb-16">
    Website made with 💖 by the CATCh community.
  </p>
</footer>
