---
import { getClassListings } from "~/api/getClassListings";

import { ClassIDs } from "./class-ids";
import RootLayout from "~/layouts/RootLayout.astro";
import UpcomingClassCard from "~/components/UpcomingClassCard.astro";
import NoClassesPlaceholder from "./_components/NoClassesPlaceholder.astro";
import ClassBreadcrumbs from "./_components/ClassBreadcrumbs.astro";

const pt1Classes = getClassListings({ eventId: ClassIDs.PT1 });
const pt2Classes = getClassListings({ eventId: ClassIDs.PT2 });
const pt3Classes = getClassListings({ eventId: ClassIDs.PT3 });

const allCLasses = await Promise.all([pt1Classes, pt2Classes, pt3Classes]).then(
  (classes) => classes.flat(),
);
---

<RootLayout title="Performance Track - Classes" class="md:px-8 lg:px-16">
  <div class="px-4">
    <ClassBreadcrumbs>Perform Improv Comedy</ClassBreadcrumbs>
  </div>

  <h1
    class="text-primary-purple text-5xl md:text-6xl font-serif font-bold px-4 pt-20 pb-12 border-light-purple bg-shapes md:border-b-2 lg:pt-32"
  >
    Performance Track 1 – 3
  </h1>

  {
    allCLasses.length > 0 ? (
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 sm:gap-6 md:py-12">
        {allCLasses.map((ptClass) => (
          <li class="flex-1 w-full">
            <UpcomingClassCard classListing={ptClass} class="max-w-none" />
          </li>
        ))}
      </ul>
    ) : (
      <NoClassesPlaceholder />
    )
  }
</RootLayout>
