---
import { getClassListings } from "~/api/getClassListings";

import { ClassIDs } from "./class-ids";
import RootLayout from "~/layouts/RootLayout.astro";
import UpcomingClassCard from "~/components/UpcomingClassCard.astro";
import NoClassesPlaceholder from "./_components/NoClassesPlaceholder.astro";

const standupClasses = await getClassListings({ eventId: ClassIDs.Standup });
---

<RootLayout title="Standup Classes" class="md:px-8 lg:px-16">
  <h1
    class="text-primary-purple text-6xl font-serif font-bold px-4 pt-8 pb-12 border-light-purple bg-shapes md:border-b-2 lg:pt-32"
  >
    Catch a standup class!
  </h1>

  {
    standupClasses.length > 0 ? (
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 sm:gap-6 md:py-12">
        {standupClasses.map((standupClass) => (
          <li class="flex-1 w-full">
            <UpcomingClassCard classListing={standupClass} class="max-w-none" />
          </li>
        ))}
      </ul>
    ) : (
      <NoClassesPlaceholder />
    )
  }
</RootLayout>
